name: publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-sharedsignals:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: '3.1'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - name: Install kramdown-rfc
        run: gem install kramdown-rfc
      - name: Install xml2rfc
        run: pip install xml2rfc
      - name: Convert sharedsignals md to xml
        run: kramdown-rfc2629 openid-sharedsignals-framework-1_0.md > openid-sharedsignals-framework-1_0.xml
      - name: Render HTML
        run: xml2rfc openid-sharedsignals-framework-1_0.xml --html -o openid-sharedsignals-framework-1_0.html
      - name: Render Text
        run: xml2rfc openid-sharedsignals-framework-1_0.xml --text
      - name: Render risc html
        run: xml2rfc openid-risc-profile-specification-1_0.xml --html -o openid-risc-profile-specification-1_0.html
      - name: Render risc text
        run: xml2rfc openid-risc-profile-specification-1_0.xml --text -o openid-risc-profile-specification-1_0.txt
      - name: Convert caep md to xml
        run: kramdown-rfc2629 openid-caep-specification-1_0.md > openid-caep-specification-1_0.xml
      - name: Render caep html
        run: xml2rfc openid-caep-specification-1_0.xml --html -o openid-caep-specification-1_0.html
      - name: Render caep text
        run: xml2rfc openid-caep-specification-1_0.xml --text -o openid-caep-specification-1_0.txt
      - name: Convert caep-interop md to xml
        run: kramdown-rfc2629 caep-interoperability-profile-1_0.md > caep-interoperability-profile-1_0.xml
      - name: Render caep-interop html
        run: xml2rfc caep-interoperability-profile-1_0.xml --html -o caep-interoperability-profile-1_0.html
      - name: Render caep-interop text
        run: xml2rfc caep-interoperability-profile-1_0.xml --text -o caep-interoperability-profile-1_0.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: output
          path: |
            openid-sharedsignals-framework-1_0.html
            openid-sharedsignals-framework-1_0.txt
            openid-risc-profile-specification-1_0.html
            openid-risc-profile-specification-1_0.txt
            openid-caep-specification-1_0.html
            openid-caep-specification-1_0.txt
            caep-interoperability-profile-1_0.html
            caep-interoperability-profile-1_0.txt
  publish-to-pages:
    if: github.ref == 'refs/heads/main'
    needs: [build-sharedsignals]
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: output
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: .
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
